body{
    background-color: antiquewhite;
}

#HeaderPages{
    background-color: bisque;
}
#HeaderPages a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding-right: 15px;
    color: black;
}
#HeaderPages a:hover{
    background-color: white;
    color: black;
}
/*Login Form*/
#LoForm{
    margin: auto;
    max-width: 300px;
    background-color: burlywood;
    padding-block: 20px;
    margin-top: 6cm;
    text-align: center;
}

#logmailcss{
    padding-right: 26px;
}

#logpasswordcss{
    padding-right: 3px;
}

#LoginSub{
    text-align: center;
    margin-top: 8px;
}

#logtitle{
    text-align: center;
}
/*Register Form*/
#reForm{
    margin: auto;
    max-width: 300px;
    background-color: burlywood;
    padding-block: 20px;
    margin-top: 6cm;
    text-align: center;
}

#regmailcss{
    padding-right: 26px;
}

#regpasswordcss{
    padding-right: 3px;
}

#RegisterSub{
    margin-top: 8px;
}
#RegText{
    margin: auto;
    text-align: center;
    background-color: white;
    max-width: 800px;
}
/*Front page*/
#indexform{
    text-align: center;
}

#LogBut{
    background-color: burlywood;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#RegBut{
    background-color: burlywood;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}